<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="log.dir" value="target/logs"/>
    <property name="encoding" value="UTF-8"/>
    <property name="LOG_HOME" value="/home"/>
    <!-- 控制台输出 -->
    <!--    <property name="mdc" value="{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n  ProcessDefinitionId=%X{mdcProcessDefinitionID} executionId=%X{mdcExecutionId} mdcProcessInstanceID=%X{mdcProcessInstanceID} mdcBusinessKey=%{mdcBusinessKey}"/>-->
    <!--    <property name="mdc" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} ProcessDefinitionId=%X{mdcProcessDefinitionID} , executionId=%X{mdcExecutionId} - %msg%n"/>-->
    <property name="mdc" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${mdc}</pattern>
        </encoder>
    </appender>
    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>